 /*
* ============LICENSE_START=======================================================
* ONAP : CDS
* ================================================================================
* Copyright 2019 TechMahindra
*
* Modifications Copyright (C) 2019 IBM
*=================================================================================
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
* ============LICENSE_END=========================================================
*/
.sources-container {
  width: 900px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
 border-bottom: solid 1px #ccc; 
 border-radius: 4px;
}
.list-container {
  min-width: 200px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}
.sources-list {
  border: solid 1px #ccc;
  width: 900px;
  min-height: 30px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  border-bottom: solid 1px #ccc;
}
.options-list {  
  min-height: 30px;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  width: 100%; 
}
.sources-box {
  //border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background:white;
  font-size: 14px;
  min-height: 30px;
  
}
.options-box {
  border: solid 1px #ccc;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background:gray;
  font-size: 14px;
  min-height: 30px;
  width: 100px;
 padding-left: 15px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.sources-box:last-child {
  border: none;
}

.options-list.cdk-drop-list-dragging .options-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.expansion-panel{
  border: solid 0.5px #ededed;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  width: 100%;
 }
 .matStepNextBtn{
    color:white;
    background:#3f51b5; 
    margin-top: 10px; 
    position: absolute;
    border-radius: 1em;
} 
.icon{
color: red;
}