<!--/*
* ============LICENSE_START=======================================================
* ONAP : CDS
* ================================================================================
* Copyright 2019 TechMahindra
*
* Modifications Copyright (C) 2019 IBM
*=================================================================================
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
* ============LICENSE_END=========================================================
*/-->
<div cdkDropListGroup>
  <div class="sources-container">
	<div
      cdkDropList
      [cdkDropListData]="sourcesOptions"
      class="sources-list"
      (cdkDropListDropped)="drop($event)">
      	<div class="sources-box" *ngFor="let item of sourcesOptions;let i = index" cdkDrag>
      		<mat-expansion-panel class="expansion-panel">
      			<mat-expansion-panel-header>
        			<mat-panel-title>
          				{{item}}
        			</mat-panel-title>
      			</mat-expansion-panel-header>
     		 	<json-editor [options]="options" [data]="selected(item)" on-change="onChange(item,$event)"></json-editor>
   			 </mat-expansion-panel>
   			 <button matSuffix mat-icon-button (click)="delete(item,i)"><mat-icon class="icon">delete</mat-icon></button>
    	</div>
    </div>
  </div>

  <div class="list-container">
    <h3>Source Options</h3>
	<mat-form-field>
    	<input [(ngModel)]="searchText" type="input" matInput placeholder="search sources">
    	<button matSuffix mat-icon-button><mat-icon>search</mat-icon></button>
    	<mat-hint>db,mdsal,input,default,..</mat-hint>
  	</mat-form-field>
  	<br><br>
    <div
      cdkDropList
      [cdkDropListData]="option"
      class="options-list"
      (cdkDropListDropped)="drop($event)">
      <div class="options-box" *ngFor="let item of option | search :searchText" cdkDrag>{{item}}</div>
    </div>
   </div>
   <div> 
    	<button mat-button class="matStepNextBtn" (click)="UploadSourcesData()">Save Sources Data</button>
   </div>
</div>