<!--
============LICENSE_START==========================================
===================================================================
Copyright (C) 2018 IBM Intellectual Property. All rights reserved.
===================================================================

Unless otherwise specified, all software contained herein is licensed
under the Apache License, Version 2.0 (the License);
you may not use this software except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
============LICENSE_END============================================
-->
<div *ngIf="optionSelected==1">
    <div>
        <input type="file" accept=".zip" (change)="fileChanged($event)">
    </div>
    <div>
        <button mat-button matStepperNext (click)="updateBlueprintState()" [ngClass]="{'mat-upload-btn-disabled': !validfile, 'matStepNextBtn': validfile}" [disabled]="!validfile">Upload</button>
    </div>
</div>
<div *ngIf="optionSelected==2">
    <form class="search-form" [formGroup]="myControl">
        <mat-form-field class="search-full-width">
            <input #resourceSelect type="text" [(ngModel)]="searchText" placeholder="Search Resources" matInput [matAutocomplete]="auto" formControlName="search_input">
            <button matSuffix mat-icon-button (click)="fetchResourceByName()"><mat-icon>search</mat-icon></button>
            <!-- <mat-autocomplete #auto="matAutocomplete">
                    <mat-option (click)="selected(option)" *ngFor="let option of options | search : searchText" [value]="option.tags">
                        {{option.tags}}
                    </mat-option>
                </mat-autocomplete> -->
        </mat-form-field>
    </form>
</div>