<!--/*
* ============LICENSE_START=======================================================
* ONAP : CDS
* ================================================================================
* Copyright (C) 2019 TechMahindra
*
* Modifications Copyright (C) 2019 IBM
*=================================================================================
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
* ============LICENSE_END=========================================================
*/-->


<button disabled style="opacity: 0.5;" (click) ="changeView()" class="toggle-view-btn">{{viewText}}</button>
<br><br>
<div *ngIf="designerMode">
   <mat-card class="metadata-card">
        <mat-card-header>
            <mat-card-title>Resource Metadata</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-resource-metadata (resourcesData)="metaDataDetail($event)"></app-resource-metadata>
        </mat-card-content>
    </mat-card>

	<mat-card class="sources-card">
    	<mat-card-header>
          <mat-card-title>
                Sources
          </mat-card-title>
    	</mat-card-header>
    	<mat-card-content>
        	<app-sources-template (resourcesData)="sourcesDetails($event)"></app-sources-template>
    	</mat-card-content>
    </mat-card>
</div>

<div *ngIf="editorMode">
	<json-editor  class="jsoneditor" *ngIf="editorMode" [options]="options" [data]="resources" on-change="onChange($event)"></json-editor>
</div>
 
<div class="btn"> 
	<button mat-button matStepperPrevious>Back</button></div>
<div class="btn">
	<button mat-button matStepperNext type="submit" (click)="saveToBackend()">Save</button>
</div> 
