<!--
============LICENSE_START==========================================
===================================================================
Copyright (C) 2018 IBM Intellectual Property. All rights reserved.
===================================================================

Unless otherwise specified, all software contained herein is licensed
under the Apache License, Version 2.0 (the License);
you may not use this software except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
============LICENSE_END============================================
-->
<mat-vertical-stepper linear>
    <mat-step [stepControl]="step1FormGroup">
        <ng-template matStepLabel>Choose CBA Template file</ng-template>
        <div class="matStepContent">
            <app-template-options (option)="templateSelected($event)"></app-template-options>
            <br>
            <div>
                <button mat-button matStepperNext class="matStepNextBtn">Proceed</button>
            </div>
        </div>
    </mat-step>

    <mat-step [stepControl]="step2FormGroup" *ngIf="templateOption==1 || templateOption == 2">
        <ng-template matStepLabel>Browse CBA Template file</ng-template>
        <div class="matStepContent">
            <app-search-template [optionSelected]="templateOption" (cbaFile)="fileChange($event)"></app-search-template>
            <!-- <div>
                <button mat-button matStepperNext class="matStepNextBtn">Upload</button>
            </div>-->
        </div>
    </mat-step>
    <mat-step [stepControl]="step3FormGroup">
        <ng-template matStepLabel>Enter Metadata details</ng-template>
        <div class="matStepContent">
            <app-metadata (metadataform)="metaDataDetail($event)"></app-metadata>
        </div>
    </mat-step>
</mat-vertical-stepper>
<button mat-button matStepperNext class="matStepNextBtn">Next</button>