<!--
* ============LICENSE_START=======================================================
* ONAP : CDS
* ================================================================================
* Copyright 2019 TechMahindra
*
* Modifications Copyright (C) 2019 IBM
*=================================================================================
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
* ============LICENSE_END=========================================================
-->
<mat-radio-group>
  <mat-radio-button value="1" (click)="selected(1)">Upload Resource File</mat-radio-button><br><br>
  <mat-radio-button value="2" (click)="selected(2)">New Resource</mat-radio-button><br><br>
  <mat-radio-button value="3" (click)="selected(3)">Existing Model Resource</mat-radio-button>
</mat-radio-group>
