<!--/*
* ============LICENSE_START=======================================================
* ONAP : CDS
* ================================================================================
* Copyright 2019 TechMahindra
*
* Modifications Copyright (C) 2019 IBM
*=================================================================================
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
* ============LICENSE_END=========================================================
*/-->

<form [formGroup]="ResourceMetadata" (ngSubmit)="UploadMetadata()">
   	<mat-form-field class="form-field">
      <input matInput placeholder="Name" formControlName="Resource_Name">
    </mat-form-field><mat-form-field class="form-field">
      <input matInput placeholder="Tags" formControlName="_tags">
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-select matInput placeholder="Data Type" formControlName="_type">
      	<mat-option value="string">string</mat-option>
      	<mat-option value="list">list</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-field" >
      <input matInput placeholder="entry_schema" formControlName="entry_schema">
    </mat-form-field>
    <mat-form-field class="form-field" >
      <mat-select matInput placeholder="required" formControlName="required">
      	<mat-option value="true">true</mat-option>
      	<mat-option value="false">false</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-field" >
      <textarea matInput placeholder="Description" formControlName="_description"></textarea>
    </mat-form-field>
    <br>
    <div>
    	<button mat-button class="matStepNextBtn" type="submit">Save Metadata</button>
    </div>  
</form>